.woo-square-onboarding__header {
    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 20px);
    background: #fff;
    padding: 22px 0;
    border-bottom: 0.5px solid #bfbfbf;
    z-index: 99999;

    .backBtn {
        button {
            margin-left: 10px;
            font-weight: 590;
        }

        svg {
            margin: 0 10px -2px 0;
        }
    }

    .wizardTitle {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;

        svg {
            margin: 0 10px -7px;
        }

        span {
            font-weight: 700;
        }
    }

    .closeWizard {
        margin-right: 20px;
    }
}
