.woo-square-setting__input-wrapper {
	margin: 36px 0;
	max-width: 100%;

	&--boxed {
		max-width: 780px;
	}

	&--boxed-bg {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #F4F4F4;
		padding: 24px 32px;
		max-width: 780px;

		.woo-square-setting__input-label {
			font-family: 'SF Pro', sans-serif;
			font-size: 19px;
			font-weight: 590;
			text-align: left;
			margin: 0;
		}

		.components-toggle-control {
			margin-bottom: 0;
		}
	}

	.components-form-token-field__remove-token.components-button {
		display: none;
	}

	.components-form-token-field__token-text {
		padding: 0 8px 0 8px;
	}

	.codeamp-components-multi-select-control__input-container {
		background-color: #fff;
	}
}

.woo-square-setting__input-label {
	margin-bottom: 7px;
	font-weight: 600;
	color: #000000;
}

.woo-square-setting__input-description {
	font-family: 'SF Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-align: left;
	margin-top: 9px;
	color: #4B4B4B;
}
