#woocommerce-order-items {

	.sv-wc-payment-gateway-partial-capture .capture-actions {
		margin-top: 5px;
		padding-top: 12px;
		border-top: 1px solid #dfdfdf;

		.button {
			float: right;
			margin-left: 4px;
		}

		.cancel-action {
			float: left;
			margin-left: 0;
		}
	}
}

#order_fee_line_items .square_gift_card .thumb {
	max-width: 38px;

	img {
		width: 100%;
		display: block;
		height: auto;
	}
}
