#top-black-strip {
    background: #00131C;
    left: -20px;
    position: relative;
    width: calc(100% + 20px);
    display: flex;
    padding: 10px 20px;
}

#top-black-strip h1 {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 500;
}

#top-black-strip #setup-logo {
    margin-right: 25px;
}
