.woo-square-onbarding__connect-square {
	display: flex;
	justify-content: center;
	align-items: stretch;
	// height: 100vh;
	z-index: 9999;
	margin: auto;
	max-width: 100%;

	&--left {
		background-color: #fff;
		width: 50%;
	}

	&__intro {
		position: relative;
		max-width: 650px;
		width: 100%;
		top: 40%;
		left: 50%;
		transform: translate( -50%, -50% );
	}

	&__center-icon {
		position: absolute;
		top: 40%;
		left: calc( 50% - 94.5px );
		z-index: 999;
		transform: translate( 0, -50% );
	}

	&--right {
		width: 50%;
		background-color: #F0F0F1;
	}

	&__intro--title {
		display: flex;
		align-items: center;
		text-align: left;
		margin-bottom: 24px;

		&-icon {
			max-width: 45px;
			height: auto;
			margin-left: 24px;
		}
	}

	&__toggles {
		position: relative;
		background-color: #fff;
		padding: 98px 110px 130px 110px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		top: 40%;
		left: -50px;
		transform: translate( 0, -50% );

		&__next-btn {
			position: absolute;
			top: calc(100% + 46px);
			right: 0;
		}
	}

	& > * {
		width: 100%;
	}

	.woo-square-setting__input-wrapper--boxed-bg {
		background-color: rgba( 244, 244, 244, 0.5 );
	}
}
