@font-face {
	font-family: 'SF Pro';
	src: url('./fonts/sf-pro/SFPRODISPLAYREGULAR.woff2') format('opentype');
}

// Hide all elements after the react based settings container, hiding the native settings.
[id*="woocommerce-square-payment-gateway-settings__container"] ~ *,
#woocommerce-square-settings__container-general ~ * {
	display: none;
}

#woocommerce-square-onboarding,
#woocommerce-square-settings__container-general,
[id*="woocommerce-square-payment-gateway-settings__container"] {
	font-family: 'SF Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 17.9px;
	color: #4B4B4B;

	.codeamp-components-multi-select-control__tokens-container {
		padding: 15px;
	}

	a:not(.button-primary) {
		color: #4B4B4B;		;
	}

	.components-modal__content .components-button:not(.codeamp-components-multi-select-control__remove-token) {
		width: auto;
	}
}

.import-modal-cover button.button-primary {
	float: right;
}

.import-modal-cover button.is-secondary {
	float: left;
}

.import-modal-cover .import-buttons {
	overflow: hidden;
	margin-top: 30px;
}

#woocommerce-square-settings__container-general,
[id*="woocommerce-square-payment-gateway-settings__container"] {
	max-width: 779px;
    margin: 50px 0 0 50px;

	.components-button.button-primary {
		max-width: fit-content;
	}

	.components-select-control,
	.components-base-control,
	.import-products-wrapper button {
		max-width: 451px;
	}

	.woo-square-setting__section {
		margin-bottom: 60px;
	}
}

body {
	#woocommerce-square-onboarding,
	#woocommerce-square-settings__container-general,
	[id*="woocommerce-square-payment-gateway-settings__container"] {
		p {
			font-size: 15px;
			font-weight: 400;
			line-height: 17.9px;
		}

		.button-primary.is-busy {
			pointer-events: none;
			color: --wp-admin-theme-color !important;
			background-image: linear-gradient(-45deg, rgba(var(--wp-admin-theme-color-darker-10--rgb), 1) 33%, rgba(var(--wp-admin-theme-color-darker-20--rgb), 1) 0, rgba(var(--wp-admin-theme-color-darker-20--rgb), 1) 70%, rgba(var(--wp-admin-theme-color-darker-10--rgb), 1) 0);
		}
	
		// Adding under body to gain high priority.
		.components-button:not(.codeamp-components-multi-select-control__remove-token) {
			font-family: 'SF Pro', sans-serif;
			min-width: 70px;
			font-size: 15px;
			font-weight: 400;
			line-height: 17.9px;
			width: 100%;
			text-align: center;
			display: block;
			padding: 12px 15px;
			min-height: 46px;
	
			&.button-primary {
				color: #fff;
			}
	
			&.is-link {
				text-align: left;
				padding: 0;
			}
	
			&.has-icon svg {
				margin: 0 0 -10px 0;
				position: relative;
				top: -4px;
			}
		}
	}
}

// Common styles for onboarding and settings.
.heading_1,
.woo-square-onbarding__payment-settings__intro--title {
	font-family: 'SF Pro', sans-serif;
	font-size: 32px;
	font-weight: 600;
	line-height: 40px;
	color: #000000;
	text-align: center;
	margin-bottom: 15px;
}

.woo-square-onboarding__cover {
	width: 400px;
	max-width: 100%;
	margin: 0;
	text-align: center;
	position: relative;

	&.payment-complete,
	&.payment-methods {
		width: 100%;
	}

	&.payment-methods {
		.woo-square-onbarding__payment-settings__intro {
			max-width: 592px;
		}
	}

	&:not(.payment-methods):not(.payment-complete) {
		margin: 100px auto 50px;
	}

	.woo-square-wizard__fields {
		width: 450px;
		max-width: 100%;
		margin: auto;
		text-align: left;
	}
}

.woo-square-loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;

	svg {
		height: 100px;
		width: 100px;
		z-index: 99999;
	}
}

.import-modal-content {
	label {
		font-size: 15px;
	}
}

.required-error {
    border-color: red !important;
}

@media screen and (max-width: 1800px) {
	.woo-square-onboarding__cover {
		&:not(.payment-methods):not(.payment-complete) {
			position: inherit;
			margin: 60px auto;
			max-height: inherit;
		}
	}
}
