// Onboarding styles.
body.woocommerce_page_woocommerce-square-onboarding {
	background: #FFF;

    #wpbody-content {
        padding-bottom: 0;
    	margin-top: 90px;
    }

    .notice:not(.import-notice),
	#wpfooter {
        display: none !important;
    }
}

#woocommerce-square-onboarding {
	min-height: 700px;
	margin: 0;

	button {
		&.is-link {
			color: #4B4B4B;
		}

		.button-primary {
			margin-bottom: 50px;
		}

		&.is-secondary {
			color: #000000;
		}
	
		&.is-secondary {
			display: block;
			margin: 20px 0;
			min-width: 215px;
			box-shadow: inset 0 0 0 1px #949494;
		}
	}

	hr {
		color: #4b4b4b80;
	}

	b {
		color: #000000;
	}

	.woo-square-setting__section-description {
		margin: 30px 0;
	}

	.adv-settings-copy {
		margin-right: 30px;
	}
}

// Styles as per theme.
body.admin-color-light.woocommerce_page_woocommerce-square-onboarding {
    --wp-admin-theme-color: #0085ba;
    --wp-admin-theme-color--rgb: 0, 133, 186;
    --wp-admin-theme-color-darker-10: #0073a1;
    --wp-admin-theme-color-darker-10--rgb: 0, 115, 161;
    --wp-admin-theme-color-darker-20: #006187;
    --wp-admin-theme-color-darker-20--rgb: 0, 97, 135;
    --wp-admin-border-width-focus: 2px
}

body.admin-color-blue {
    --wp-admin-theme-color: #096484;
    --wp-admin-theme-color--rgb: 9, 100, 132;
    --wp-admin-theme-color-darker-10: #07526c;
    --wp-admin-theme-color-darker-10--rgb: 7, 82, 108;
    --wp-admin-theme-color-darker-20: #064054;
    --wp-admin-theme-color-darker-20--rgb: 6, 64, 84;
    --wp-admin-border-width-focus: 2px
}

body.admin-color-coffee.woocommerce_page_woocommerce-square-onboarding {
	--wp-admin-theme-color: #46403c;
	--wp-admin-theme-color--rgb: 70, 64, 60;
	--wp-admin-theme-color-darker-10: #383330;
	--wp-admin-theme-color-darker-10--rgb: 56, 51, 48;
	--wp-admin-theme-color-darker-20: #2b2724;
	--wp-admin-theme-color-darker-20--rgb: 43, 39, 36;
	--wp-admin-border-width-focus: 2px;
}

body.admin-color-ectoplasm {
    --wp-admin-theme-color: #523f6d;
    --wp-admin-theme-color--rgb: 82, 63, 109;
    --wp-admin-theme-color-darker-10: #46365d;
    --wp-admin-theme-color-darker-10--rgb: 70, 54, 93;
    --wp-admin-theme-color-darker-20: #3a2c4d;
    --wp-admin-theme-color-darker-20--rgb: 58, 44, 77;
    --wp-admin-border-width-focus: 2px
}

body.admin-color-midnight {
    --wp-admin-theme-color: #e14d43;
    --wp-admin-theme-color--rgb: 225, 77, 67;
    --wp-admin-theme-color-darker-10: #dd382d;
    --wp-admin-theme-color-darker-10--rgb: 221, 56, 45;
    --wp-admin-theme-color-darker-20: #d02c21;
    --wp-admin-theme-color-darker-20--rgb: 208, 44, 33;
    --wp-admin-border-width-focus: 2px
}

body.admin-color-ocean {
    --wp-admin-theme-color: #627c83;
    --wp-admin-theme-color--rgb: 98, 124, 131;
    --wp-admin-theme-color-darker-10: #576e74;
    --wp-admin-theme-color-darker-10--rgb: 87, 110, 116;
    --wp-admin-theme-color-darker-20: #4c6066;
    --wp-admin-theme-color-darker-20--rgb: 76, 96, 102;
    --wp-admin-border-width-focus: 2px
}

body.admin-color-modern {
    --wp-admin-theme-color: #3858e9;
    --wp-admin-theme-color--rgb: 56, 88, 233;
    --wp-admin-theme-color-darker-10: #2145e6;
    --wp-admin-theme-color-darker-10--rgb: 33, 69, 230;
    --wp-admin-theme-color-darker-20: #183ad6;
    --wp-admin-theme-color-darker-20--rgb: 24, 58, 214;
    --wp-admin-border-width-focus: 2px
}

body.admin-color-sunrise {
    --wp-admin-theme-color: #dd823b;
    --wp-admin-theme-color--rgb: 221, 130, 59;
    --wp-admin-theme-color-darker-10: #d97426;
    --wp-admin-theme-color-darker-10--rgb: 217, 116, 38;
    --wp-admin-theme-color-darker-20: #c36922;
    --wp-admin-theme-color-darker-20--rgb: 195, 105, 34;
    --wp-admin-border-width-focus: 2px
}

// Styles for Payment Methods and Payment Complete Steps.
.woo-square-onbarding__payment-settings {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	height: auto;
	z-index: 9999;
	text-align: left;

	&--left {
		background-color: #fff;
		width: 50%;
		position: relative;
	}

	&__intro {
		position: relative;
		max-width: 400px;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
	}

	&__center-icon {
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 999;
		transform: translate( 0, -50% );
	}

	&--right {
		width: 50%;

		&:before {
			content: '';
			width: 50%;
			right: 0;
			height: 120vh;
			position: absolute;
			display: block;
			top: 0;
			background: #F0F0F1;
		}
	}

	&__intro--title {
		display: flex;
		align-items: center;
		text-align: left;
		margin-bottom: 24px;

		&-icon {
			max-width: 45px;
			height: auto;
			margin-left: 24px;
		}
	}

	&__toggles {
		position: relative;
		background-color: #fff;
		padding: 98px 110px 130px 110px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		transform: none;
    	top: 10%;
		left: -50px;
		max-width: 915px;
		width: 100%;
		box-sizing: border-box;
		

		&__next-btn {
			position: absolute;
			top: calc(100% + 46px);
			right: 0;
		}

		.woo-square-setting__section-title {
			text-align: left;
		}
	}

	& > * {
		width: 100%;
	}

	.woo-square-setting__input-wrapper--boxed-bg {
		background-color: rgba( 244, 244, 244, 0.5 );
	}

	.flexItem.iconBox {
		margin: 0 20px 0 10px;
	}

	.flexItem.contentBox {
		margin-right: 80px;
	}
}

@media screen and (max-width: 1900px) {
	.flexItem.contentBox {
		margin-right: 20px;
	}

	.woo-square-onbarding__payment-settings--left {
		width: 75%;
	}
}

@media screen and (max-width: 1600px) {
	.woo-square-onboarding__cover {
		&.payment-methods,
		&.payment-complete {
			.woo-square-onbarding__payment-settings {
				&__toggles {
					top: auto;
					transform: none;
					padding: 50px 70px 40px;
				}

				&__intro {
					transform: none;
					left: 0;
					top: 30%;
					background: border-box;
					max-width: 70%;
					display: inline-block;

					@media screen and (max-width: 1400px) {
						max-width: 90%;
					}
				}

				.flexItem.contentBox {
					margin-right: 20px;
				}
			}
		}

		&.payment-complete {
			.woo-square-onbarding__payment-settings__intro {
				text-align: center;
			}

			.woo-square-onbarding__payment-settings__intro--title {
				text-align: center;
				display: inline-block;
			}
		}

		&.payment-complete .woo-square-onbarding__payment-settings__intro {
			top: 20%;
		}
	}
}

@media screen and (max-width: 1400px) {
	.woo-square-onboarding__cover {
		margin-bottom: 30px;
	}

	.woo-square-onbarding__payment-settings {
		display: block;
		height: auto;

		&__toggles {
			left: 0;
		}

		&--left {
			width: 100%;
		}

		&--right:before {
			display: none;
		}
		
		&__center-icon {
			display: none;
		}
		
		&__intro {
			top: auto;
			transform: none;
			margin: 50px 0 30px;
			left: 0;
			max-width: 650px;
		}
		
		&--right {
			margin-bottom: 30px;
		}		
	}
}
